body {
    margin: 0;
}

:root {
    --primary-color: #835646;
    --secondary-color: #ffffff;
    --third-color: #4DB6AC;
}

.container {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;

}

.nav {
    display: flex;
    justify-content: end;
}

.nav ul {
    padding: 13px;
    margin: 0;
    background-color: var(--third-color);
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1.1rem;
    max-width: 400px;
    min-width: 300px;
}

.nav a {
    color: var(--secondary-color);
    text-decoration: none;
}

.header {
    text-align: center;
}

.header h1 {
    font-size: 2rem;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

.recepes {
    width: 100dvw;
    height: 90dvh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.recepe {
    width: 400px;
    height: 400px;
    margin: 20px;
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.4);
    position: relative;
}

.recepe .link {
    /* from stack overflow */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    /* fixes overlap error in IE7/8, 
           make sure you have an empty gif */
    background-image: url('empty.gif');

}

.recepe:hover {
    transform: scaleX(1.02);
}

.recepe h3 {
    color: var(--secondary-color);
    letter-spacing: 0.2px;
    font-size: 1.2rem;
    transform: translateY(-5.5rem);
}

@media (max-width: 700px){
   .header {
    margin-bottom: 50px;
   }
    .recepes {
        flex-wrap: wrap;
    }
    .recepe {
        margin: 50px;
    }
}

@media  (max-width: 425px){
	 .header {
        margin-bottom: 20px;
     }
     .recepes {
     flex-wrap: wrap;
     }

     .recepe {
        width: 300px;
        height: 400px;
        margin: 4rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
     }
}